@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

:root {
    --c-violet:#6A1B9A;
    --c-yellow:#fbf6e9;
    --c-green:#2cb383;
    --c-green-dark:#239a73;
    --c-green-tittle:#0d7a56;
}

html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

.font-custom {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-custom-tittle {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-style:italic;
    font-size: 24px;
}


@layer utilities {
    .bg-c-yellow{
        background-color: var(--c-yellow);
    }
    .bg-c-violet{
        background-color: var(--c-violet);
    }
    .bg-c-green{
        background-color: var(--c-green);
    }
    .bg-c-green-dark{
        background-color: var(--c-green-dark);
    }
    .fc-yellow{
        color: var(--c-yellow);
    }
    .fc-green-logo{
        color: var(--c-green-tittle);
    }
    .hover\:fc-yellow:hover {
    color: var(--c-yellow);
    }
    .hover\:bg-c-green:hover {
    background-color: var(--c-green);
    }
    .hover\:bg-c-green-dark:hover {
    background-color: var(--c-green-dark);
    }
    .border-green{
        border-color:var(--c-green)
    }
}